
<app-video></app-video>

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos a <span>NATURA AGUA VIVA</span></h2>
              <p class="animate__animated animate__fadeInUp">.</p>
              <a href="#main" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer Más</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">¿Sabías que?</h2>
              <p class="animate__animated animate__fadeInUp">Desde 2006 natura no realiza pruebas en animales</p>
              <p class="animate__animated animate__fadeInUp">Para Esto ha desarrollado más de 67 metodologías alternativas como por ejemplo impresión 3D de tejidos.</p>
              <p class="animate__animated animate__fadeInUp">Natrua esta certificada por</p>
              <p class="animate__animated animate__fadeInUp">Cruelty free international</p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Productos Naturales</h2>
              <p class="animate__animated animate__fadeInUp">Todos los productos generados por la Red Natura son 100% naturales.</p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>NATURA Agua Viva</h2>
            <h3>¿Quienes somos?</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Natura Agua viva es perteneciente a la Red Natura, una empresa 100% confiable, nos vuelve confiable el estar unidos por valores universales, como la Calidad Humana,
              Calidad de Vida, Libertad, Servicio y la Verdad.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Este sistema funciona cuando se difunden productos de calidad.</li>
              <li><i class="ri-check-double-line"></i> Pues las personas comparten su experiencia de salud.</li>
              <li><i class="ri-check-double-line"></i> La recomendacion de boca en boca es fácil cuando el producto genera beneficios que se siente.</li>
            </ul>
            <!-- <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <h2>Beneficios</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Kit de emprendimiento</a></h4>
              <p>La calidad e innovación de nuestros productos hacen fácil su venta y sobre todo son seguros para ti y para el medio ambiente.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Entranamiento</a></h4>
              <p>Programa de desarrollo y crecimiento en Natura hecho especialmente para ti. Donde podrás ir alcanzando más beneficios y ganancias por tus ventas</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-heart"></i>
              <h4><a href="#">Fidelización</a></h4>
              <p>Únete al exclusivo programa de fidelización de la mejor red.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-tools"></i>
              <h4><a href="#">Herramientas Exclusivas</a></h4>
              <p>Aprende a vender con nuestros entrenamientos digitales disponibles las 24 hrs del día y desarrolla tu negocio maximizando tus ganancias.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">
                Reconocimiento y Ganancias</a></h4>
              <p>Campañas, viajes y eventos de reconocimiento durante tu historia con Natura.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <h2>
          Conoce la Nueva revista digital:
        </h2>
        <iframe style="width: 100%; height: 600px;"
        src="https://mx.natura.digital-catalogue.com/mx/2023/09/revista/ciclo-9/view/index.html?id_consultora=3821404&utm_term=app&info=eyJ1c2VyIjp7ImN5Y2xlIjoiMjAyMzA5Iiwic2Vzc2lvbklkIjoiZGZmZjNiNWEtNzI4MS00MzgyLTgyNTEtODdiZDIyNGYwOGJhIiwic2hvcElkIjoiIn0sIm1hZ2F6aW5lIjp7InllYXIiOiIyMDIzIiwiY3ljbGUiOiIyMDIzMDkiLCJpZCI6IjU2NCJ9fQ%3D%3D&page=1" >
        </iframe>

        <h2>Vídeos</h2>
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Revistas</li>
              <li data-filter=".filter-card">Información</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/videos/revista-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>2023</h4>
                <p>Revista</p>
                <div class="portfolio-links">
                  <a href="assets/videos/revista-1.mp4" data-gallery="portfolioGallery" class="portfolio-lightbox" title="C04|2023"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <app-contact></app-contact>
    </section><!-- End Contact Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Clients Section -->

  </main><!-- End #main -->