<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-text">
                    <h1>Quienes Somos?</h1>
                    <br/><br/>
                    Natura agua viva perteneciente a la red de Natura es una empresa de origen Brasileño, fundada ya hace más de 50 años nacida de 2 pasiones, la cosmética y el relacionamiento una empresa 100% confiable.
                    <br/><br/>
                    Natura llega a México hace 17 años con una propuesta de valor invitandote a generar un negocio autónomo.<br/>
                    Contamos con más de 500 productos que se encuentran dividos en 10 categorías dentro del segmento higiene personal y cosmética.
                    <br/><br/>
                    Natura tiene 2 negocios uno es ser consultora y otro crecer y desarrollarte como líder, donde el protagonista eres tu!!! Alcanza tus sueños y metas económicas a través de un esquema de negocio probado!!! Gana regalos, viajes, premios

                    <br/><br/><br/>
                    <b>Estás listo para emprender?</b>
                </div>
                <p class="fst-italic">
                    Bienvenido a Natura, escribe tu propia historia!
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->