  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Natura Agua Viva</h3>
              <p>
                Red Estrella Fugaz<br>
                Región Meraki Franja 14<br>
                <strong>Teléfono:</strong> <a href="tel:525591442190">+55 91 44 21 90</a><br>
                <strong>Email:</strong> <a href="mailto:vaguilar@naturaaguaviva.com">vaguilar@naturaaguaviva.com</a><br>
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Menú</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Acerca de</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Beneficios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#portfolio">Videos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Aviso de Privacidad</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Natura Agua Viva</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->